# SciKit Learn Preprocessing Overview

In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
data = np.random.randint(0,100,(10,2))

In [8]:
data

array([[93, 79],
       [20, 75],
       [54,  7],
       [86, 73],
       [ 8, 19],
       [68, 96],
       [ 8, 26],
       [50, 25],
       [93, 83],
       [82, 36]])

In [9]:
scaler_model = MinMaxScaler()

In [10]:
scaler_model.fit(data)

C:\Users\osamaa\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [11]:
scaler_model.transform(data)

array([[ 1.        ,  0.80898876],
       [ 0.14117647,  0.76404494],
       [ 0.54117647,  0.        ],
       [ 0.91764706,  0.74157303],
       [ 0.        ,  0.13483146],
       [ 0.70588235,  1.        ],
       [ 0.        ,  0.21348315],
       [ 0.49411765,  0.20224719],
       [ 1.        ,  0.85393258],
       [ 0.87058824,  0.3258427 ]])

In [12]:
# In one step
result = scaler_model.fit_transform(data)

C:\Users\osamaa\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)

In [13]:
result

array([[ 1.        ,  0.80898876],
       [ 0.14117647,  0.76404494],
       [ 0.54117647,  0.        ],
       [ 0.91764706,  0.74157303],
       [ 0.        ,  0.13483146],
       [ 0.70588235,  1.        ],
       [ 0.        ,  0.21348315],
       [ 0.49411765,  0.20224719],
       [ 1.        ,  0.85393258],
       [ 0.87058824,  0.3258427 ]])

In [14]:
import pandas as pd

In [15]:
data = pd.DataFrame(data=np.random.randint(0,101,(50,4)),columns=['f1','f2','f3','label'])

In [16]:
data.head()

   f1  f2  f3  label
0  26  16  11     29
1  72  78  37     89
2  38   3  21     81
3  15  55  26     33
4  70  69  14     22

In [32]:
x = data[['f1','f2','f3']] # Alternatively x = data.drop('label',axis=1)
y = data['label']
x

    f1  f2   f3
0   26  16   11
1   72  78   37
2   38   3   21
3   15  55   26
4   70  69   14
5   67  90    4
6   26  40   57
7   89  20   89
8   51  61   90
9   79  42   94
10  74  68   47
11  42  85   68
12  66   1   19
13  43  47   44
14  59  94   41
15  67  83   59
16  15  73   48
17  78  91   18
18  66  47   75
19  12  78   22
20  30  12   34
21  72  14   49
22  88  69   99
23  62  36   59
24  17  19   32
25  72   6   98
26  53   2   30
27  39  83   75
28  20  10   29
29  77  60   68
30   3  12   80
31  92   8   66
32  37  50  100
33  21  42   29
34  14  31   17
35  37  39    9
36  20  86   91
37   2  97   34
38  85   5   33
39  34  90   45
40  43  92   31
41  36  41   44
42  98   5   87
43  53  88   89
44   0  19   60
45  15  57   87
46  39  65   60
47  94  68   98
48  83  37    3
49  85  10   93

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=101)

In [35]:
X_train.shape

(35, 3)

In [36]:
X_test.shape

(15, 3)

In [37]:
y_train.shape

(35,)

In [38]:
y_test.shape

(15,)

## Great Job!